@font-face {
  font-family: 'icomoon';
  src:
    url('../fonts/icomoon.ttf?v10mfz') format('truetype'),
    url('../fonts/icomoon.woff?v10mfz') format('woff'),
    url('../fonts/icomoon.svg?v10mfz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_"]:before, [class*=" _"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._litecoin:before {
  content: "\e900";
}
._moon:before {
  content: "\e901";
}
._sun:before {
  content: "\e902";
}
._arrow-bottom:before {
  content: "\e903";
}
._arrows:before {
  content: "\e904";
}
._lines:before {
  content: "\e905";
}
