@import "_vars.scss";

.btn {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  background: $secondary;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: $primary;
  @media (max-width: 425px){
    font-size: 12px;
    line-height: 16px;
  }
}

.section-subtitle {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 137%;
  color: #ABABAB;
  text-align: center;
  margin: 0px 0px 10px 0px;
  @media (max-width: 425px){
    margin: 0px 0px 5px 0px;
    font-size: 16px;
  }
}

.section-title {
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 136%;
  text-align: center;
  margin: 0px 0px 50px 0px;
  @media (max-width: 425px){
    margin: 0px 0px 30px 0px;
    font-size: 24px;
  }
}

.lines-container {
  position: relative;
}

.lines-container_top {
  &::before {
    font-size: 40px;
    color: $secondary;
    @media (max-width: 425px){
      font-size: 30px;
    }
  }

  position: absolute;
  top: -20px;
  left: 0;

  @media (max-width: 1140px) {
    left: 15px;
  }

  @media (mon-width: 1140px) {
    left: 0;
  }
  @media (max-width: 425px){
    top: -15px;
  }
}

.lines-container_bottom {
  &::before {
    font-size: 40px;
    color: $secondary;
    @media (max-width: 425px){
      font-size: 30px;
    }
  }

  position: absolute;
  bottom: -20px;
  right: 0;

  @media (max-width: 1140px) {
    right: 15px;
  }

  @media (mon-width: 1140px) {
    right: 0;
  }
  @media (max-width: 425px){
    bottom: -15px;
  }
}
.section-conteiner{
  padding: 70px 0;
  @media (max-width: 425px){
    padding: 40px 0;
  }
}