@import "_vars.scss";
.wrapper__header {
}
.header {
  display: flex;
  align-items: center;
  min-height: 130px;
  @media (max-width: 425px){
    min-height: 80px;
  }
}
.header__logo {
  margin: 0 auto 0 0;
}
.header__logo-img{
  max-width: 202px;
  @media (max-width: 768px){
    max-width: 121px;
  }
}
.header__link{
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: $primary;
  text-transform: uppercase;
  &:nth-child(2){
    margin: 0 50px 0 0;
    @media (max-width: 992px){
      display: none;
    }
  }
  &:nth-child(3){
    margin: 0 100px 0 0;
    @media (max-width: 768px){
      display: none;
    }
  }
}
.header__btn {
  padding: 14px 50px;
  display: inline-flex;
  margin: 0 50px 0 0;
  @media (max-width: 768px){
    margin: 0 20px 0 0;
    padding: 10px 25px;
  }
  @media (max-width: 425px){
    display: none;
  }
}
.header-language {
  margin: 0 48px 0 0;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: $primary;
  position: relative;
  padding: 0 20px 0 0;
  @media (max-width: 768px){
    margin: 0 20px 0 0;
  }
  @media (max-width: 425px){
    font-size: 12px;
    line-height: 16px;
  }
  &::after{
    content: "";
    position: absolute;
    border: 6px solid transparent;
    border-top: 8px solid #D41914;
    border-radius: 20%;
    top: 8px;
    right: 0px;
    @media (max-width: 425px){
      top: 3.5px;
    }
  }
}
.topic {
  display: flex;
  align-items: center;
  gap: 5px;
}
.topic__icon {
}
.topic__active {
  border: 0.7px solid #CACACA;
  border-radius: 10px;
  width: 37px;
  height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
  padding: 2px;
}
.topic__circle {
  width: 16px;
  height: 16px;
  background: $secondary;
  display: inline-block;
  border-radius: 50%;
}
.burger{
  display: none;
  margin: 0 0 0 25px;
  @media (max-width: 425px){
    display: inline-block;
  }
}