@import "_vars.scss";
@import "_section__hero.scss";
@import "_section__portners.scss";
@import "_section__benefits.scss";
@import "_questions.scss";
@import "_join.scss";
.main{
  flex: 1 1 auto;
}