@import "_vars.scss";
.section__benefits {
}
.benefits {
}
.benefits-items {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 90px;
  @media (max-width: 992px){
    grid-template-columns: 1fr;
  }
  @media (max-width: 425px){
    gap: 20px;
  }
}
.benefits-item {
  display: grid;
  grid-template-rows: auto;
  gap: 34px;
  @media (max-width: 992px){
    grid-template-columns:repeat(2,1fr);
  }
  @media (max-width: 768px){
    grid-template-rows: auto;
    grid-template-columns:repeat(1,1fr);
  }
  @media (max-width: 425px){
    gap: 15px;
  }
}
.benefits-item_revers {
}
.benefits-item-content {
}
.benefits-item-content__number {
  font-style: normal;
  font-weight: 800;
  font-size: 63px;
  line-height: 50px;
  margin: 0px 0px 20px 0px;
  @media (max-width: 425px){
    margin: 0px 0px 15px 0px;
  }
}
.benefits-item-content__text_fw {
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  margin: 0px 0px 10px 0px;
  @media (max-width: 425px){
    font-size: 16px;
    line-height: 22px;
    margin: 0px 0px 5px 0px;
  }
}
.benefits-item-content__text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  @media (max-width: 425px){
    font-size: 12px;
    line-height: 16px;
    margin: 0px 0px 5px 0px;
  }
}
.benefits-item__image {
  position: relative;
  padding: 0 0 48% 0;
}
.benefits-item__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 5px;
}
.benefits-item-content_order{
  order: 1;
  @media (max-width: 768px){
    order: 0;
  }
}
.benefits-item__image_order{

}
.benefits-item_revers{

}