@import url('https://fonts.googleapis.com/css?family=Manrope:,300,700,800');
@import "_nullstyle.scss";
@import "_header.scss";
@import "_main.scss";
@import "_footer.scss";
@import "_vars.scss";
@import "_example.scss";
body{
  font-family:$fontfamily;
  font-size: 16px;
  color: $primary;
  background: $bglighty;
}
.wrapper{
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.container{
  max-width: 1140px;
  margin: 0 auto;
}
//@import "bootstrap.grid.@media.scss";

//SNIPPETS
//scss=======================

//Адаптив изобаржений - "im"
//Внешний нижний отступ - "mb"
//Набор свойств flex - fl
//Адаптивные грид колонки - grg
//Действия при наведении - hov
//scss========================

//html========================

//Строение сайта - site
//Меню шапки - nav1

//html========================

@media (max-width: 1140px){
  .container{
    padding: 0 15px;
  }
}
@media (max-width: px){

}
@media (max-width: px){

}
@media (max-width: px){

}
@media (max-width: px){

}

//========================================

@media (min-width: 1140px){
  .container{
    padding: 0;
  }
}
@media (min-width: px){

}
@media (min-width: px){

}
@media (min-width: px){

}
@media (min-width: px){

}